
html-css/challenges/d005/.DS_Store
html-css/challenges/d007/.DS_Store
html-css/exercicios/.DS_Store
html-css/exercicios/ex003/.DS_Store
html-css/exercicios/ex010/.DS_Store
html-css/challenges/.DS_Store
html-css/.DS_Store
